form.certbot-settings {
  #output {
    box-sizing: content-box;
    background-color: #000;
    color: #ccc;
    padding: 0.5em 0.5em 0.5em 0.5em;
    min-height: 8em;
    font-size: 1em;

    &.running {
      color: #fff;
    }

    &.error, &.failure {
      color: #f66;
    }
  }
}
